{% block content %}
<p class="text-justify" style="text-indent: 30px;">Привет, путешественник! Данный ресурс поможет тебе быстро определить оптимальные даты для поездки, а также выбрать
    выгодный способ приобретения поездки - туром или раздельно билеты/проживание. Введи в форму ниже необходимы данные
    и через несколько секунд тебе будет предложен оптимальный вариант. Путешествие — единственная вещь, покупая
    которую, становишься богаче. Захватывающих тебе путешествий! </p>
{% endblock %}