{% extends "tour/wrapper.html" %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <img alt="logo" class="d-block mx-auto" height="150" src="/static/logo.svg" width="265">
        <h2>Примененные технологии</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row my-4  align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/HTML.png" width="56">
                <h4>HTML</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/CSS.png" width="56">
                <h4>CSS</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Bootstrap.png" width="56">
                <h4>Bootstrap</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Ajax.png" width="56">
                <h4>Ajax</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Django.png" width="56">
                <h4>Django</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Wireshark.png" width="56">
                <h4>Wireshark</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Git.png" width="56">
                <h4>Git</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/SQLite.png" width="56">
                <h4>SQLite</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/JavaScript.png" width="56">
                <h4>JavaScript</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/jQuery.png" width="56">
                <h4>jQuery</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/JSON.png" width="56">
                <h4>JSON</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Jupyter.png" width="56">
                <h4>Jupyter</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/MySql.png" width="56">
                <h4>MySql</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Nginx.png" width="56">
                <h4>Nginx</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Python.png" width="56">
                <h4>Python</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row my-4 align-items-center mx-auto">
                <img class="mr-2" alt="HTML" height="56" src="/static/myico/Selenium.png" width="56">
                <h4>Selenium</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}